body{
	margin: 20px;
	padding: 0;
	background: #333;
}

.container {
	max-width: 720px;
	margin: auto;
	border: #fff solid 3px;
	background: #fff;
}

.main-img img, .imgs img{
	width: 100%;
}

.imgs {
	display:  grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-gap: 10px;
}